In [ ]:
import pandas as pd
import numpy as np

In [9]:
# Step 1: Load dataset_1.xlsx
dataset1 = pd.read_excel("dataset_1.xlsx")

In [10]:
# Step 2: Load dataset_2.xlsx
dataset2 = pd.read_excel("dataset_2.xlsx")

In [11]:
print("Dataset 1 preview:")
print(dataset1.head(), "\n")

Dataset 1 preview:
   instant     dteday  season  yr  mnth  hr  holiday  weekday  weathersit  \
0        1 2011-01-01       1   0     1   0    False        6           1
1        2 2011-01-01       1   0     1   1    False        6           1
2        3 2011-01-01       1   0     1   2    False        6           1
3        4 2011-01-01       1   0     1   3    False        6           1
4        5 2011-01-01       1   0     1   4    False        6           1

   temp
0  0.24
1  0.22
2  0.22
3  0.24
4  0.24

In [12]:
print("Dataset 2 preview:")
print(dataset2.head(), "\n")

Dataset 2 preview:
   Unnamed: 0  instant   atemp   hum  windspeed  casual  registered  cnt
0           0        1  0.2879  0.81        0.0       3          13   16
1           1        2  0.2727  0.80        0.0       8          32   40
2           2        3  0.2727  0.80        0.0       5          27   32
3           3        4  0.2879  0.75        0.0       3          10   13
4           4        5  0.2879  0.75        0.0       0           1    1

In [13]:
print("Missing values in Dataset 1:")
print(dataset1.isnull().sum(), "\n")

Missing values in Dataset 1:
instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
weathersit    0
temp          0
dtype: int64

In [14]:
print("Missing values in Dataset 2:")
print(dataset2.isnull().sum(), "\n")

Missing values in Dataset 2:
Unnamed: 0     0
instant        0
atemp         11
hum            0
windspeed      0
casual         0
registered     0
cnt            0
dtype: int64

In [15]:
# Step 5: Check column names
print("Dataset 1 columns:", dataset1.columns.tolist())
print("Dataset 2 columns:", dataset2.columns.tolist())

Dataset 1 columns: ['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday', 'weathersit', 'temp']
Dataset 2 columns: ['Unnamed: 0', 'instant', 'atemp', 'hum', 'windspeed', 'casual', 'registered', 'cnt']

In [16]:
combine_data = pd.merge(dataset1, dataset2, on='instant')

In [17]:
print("Combined dataset preview:")
print(combine_data.head())

Combined dataset preview:
   instant     dteday  season  yr  mnth  hr  holiday  weekday  weathersit  \
0        1 2011-01-01       1   0     1   0    False        6           1
1        2 2011-01-01       1   0     1   1    False        6           1
2        3 2011-01-01       1   0     1   2    False        6           1
3        4 2011-01-01       1   0     1   3    False        6           1
4        5 2011-01-01       1   0     1   4    False        6           1

   temp  Unnamed: 0   atemp   hum  windspeed  casual  registered  cnt
0  0.24           0  0.2879  0.81        0.0       3          13   16
1  0.22           1  0.2727  0.80        0.0       8          32   40
2  0.22           2  0.2727  0.80        0.0       5          27   32
3  0.24           3  0.2879  0.75        0.0       3          10   13
4  0.24           4  0.2879  0.75        0.0       0           1    1

In [18]:
unique_counts = combine_data.nunique()
print("Number of unique values in each column:\n")
print(unique_counts)

Number of unique values in each column:

instant       610
dteday         28
season          1
yr              1
mnth            1
hr             24
holiday         2
weekday         7
weathersit      4
temp           23
Unnamed: 0    610
atemp          29
hum            61
windspeed      20
casual         32
registered    150
cnt           165
dtype: int64

In [19]:
# List of columns to drop (edit this based on your dataset)
columns_to_drop = ['Unnamed: 0', 'atemp_y', 'hum_y', 'windspeed_y', 'casual_y', 'registered_y', 'cnt_y']

# Drop only columns that actually exist in the DataFrame
combine_data_cleaned = combine_data.drop(columns=[col for col in columns_to_drop if col in combine_data.columns])

# Show remaining columns
print("Remaining columns after drop:")
print(combine_data_cleaned.columns)

Remaining columns after drop:
Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'weathersit', 'temp', 'atemp', 'hum', 'windspeed', 'casual',
       'registered', 'cnt'],
      dtype='object')

In [20]:
print(combine_data_cleaned)

     instant     dteday  season  yr  mnth  hr  holiday  weekday  weathersit  \
0          1 2011-01-01       1   0     1   0    False        6           1
1          2 2011-01-01       1   0     1   1    False        6           1
2          3 2011-01-01       1   0     1   2    False        6           1
3          4 2011-01-01       1   0     1   3    False        6           1
4          5 2011-01-01       1   0     1   4    False        6           1
..       ...        ...     ...  ..   ...  ..      ...      ...         ...
605      606 2011-01-28       1   0     1  11    False        5           3
606      607 2011-01-28       1   0     1  12    False        5           3
607      608 2011-01-28       1   0     1  13    False        5           3
608      609 2011-01-28       1   0     1  14    False        5           3
609      610 2011-01-28       1   0     1  15    False        5           2

     temp   atemp   hum  windspeed  casual  registered  cnt
0    0.24  0.2879  0.81     0.0000       3          13   16
1    0.22  0.2727  0.80     0.0000       8          32   40
2    0.22  0.2727  0.80     0.0000       5          27   32
3    0.24  0.2879  0.75     0.0000       3          10   13
4    0.24  0.2879  0.75     0.0000       0           1    1
..    ...     ...   ...        ...     ...         ...  ...
605  0.18  0.2121  0.93     0.1045       0          30   30
606  0.18  0.2121  0.93     0.1045       1          28   29
607  0.18  0.2121  0.93     0.1045       0          31   31
608  0.22  0.2727  0.80     0.0000       2          36   38
609  0.20  0.2576  0.86     0.0000       1          40   41

[610 rows x 16 columns]

In [21]:
print(combine_data_cleaned.shape)

(610, 16)

In [22]:
print(combine_data_cleaned.dtypes)

instant                int64
dteday        datetime64[ns]
season                 int64
yr                     int64
mnth                   int64
hr                     int64
holiday                 bool
weekday                int64
weathersit             int64
temp                 float64
atemp                float64
hum                  float64
windspeed            float64
casual                 int64
registered             int64
cnt                    int64
dtype: object

In [23]:
print(combine_data_cleaned.dtypes.value_counts())

int64             10
float64            4
datetime64[ns]     1
bool               1
Name: count, dtype: int64

In [24]:
print(combine_data_cleaned.isnull().values.any())

True

In [25]:
print(combine_data_cleaned.isnull())

     instant  dteday  season     yr   mnth     hr  holiday  weekday  \
0      False   False   False  False  False  False    False    False
1      False   False   False  False  False  False    False    False
2      False   False   False  False  False  False    False    False
3      False   False   False  False  False  False    False    False
4      False   False   False  False  False  False    False    False
..       ...     ...     ...    ...    ...    ...      ...      ...
605    False   False   False  False  False  False    False    False
606    False   False   False  False  False  False    False    False
607    False   False   False  False  False  False    False    False
608    False   False   False  False  False  False    False    False
609    False   False   False  False  False  False    False    False

     weathersit   temp  atemp    hum  windspeed  casual  registered    cnt
0         False  False  False  False      False   False       False  False
1         False  False  False  False      False   False       False  False
2         False  False  False  False      False   False       False  False
3         False  False  False  False      False   False       False  False
4         False  False  False  False      False   False       False  False
..          ...    ...    ...    ...        ...     ...         ...    ...
605       False  False  False  False      False   False       False  False
606       False  False  False  False      False   False       False  False
607       False  False  False  False      False   False       False  False
608       False  False  False  False      False   False       False  False
609       False  False  False  False      False   False       False  False

[610 rows x 16 columns]

In [26]:
print(combine_data_cleaned.isnull().sum())

instant        0
dteday         0
season         0
yr             0
mnth           0
hr             0
holiday        0
weekday        0
weathersit     0
temp           0
atemp         11
hum            0
windspeed      0
casual         0
registered     0
cnt            0
dtype: int64

In [27]:
print(combine_data_cleaned)

     instant     dteday  season  yr  mnth  hr  holiday  weekday  weathersit  \
0          1 2011-01-01       1   0     1   0    False        6           1
1          2 2011-01-01       1   0     1   1    False        6           1
2          3 2011-01-01       1   0     1   2    False        6           1
3          4 2011-01-01       1   0     1   3    False        6           1
4          5 2011-01-01       1   0     1   4    False        6           1
..       ...        ...     ...  ..   ...  ..      ...      ...         ...
605      606 2011-01-28       1   0     1  11    False        5           3
606      607 2011-01-28       1   0     1  12    False        5           3
607      608 2011-01-28       1   0     1  13    False        5           3
608      609 2011-01-28       1   0     1  14    False        5           3
609      610 2011-01-28       1   0     1  15    False        5           2

     temp   atemp   hum  windspeed  casual  registered  cnt
0    0.24  0.2879  0.81     0.0000       3          13   16
1    0.22  0.2727  0.80     0.0000       8          32   40
2    0.22  0.2727  0.80     0.0000       5          27   32
3    0.24  0.2879  0.75     0.0000       3          10   13
4    0.24  0.2879  0.75     0.0000       0           1    1
..    ...     ...   ...        ...     ...         ...  ...
605  0.18  0.2121  0.93     0.1045       0          30   30
606  0.18  0.2121  0.93     0.1045       1          28   29
607  0.18  0.2121  0.93     0.1045       0          31   31
608  0.22  0.2727  0.80     0.0000       2          36   38
609  0.20  0.2576  0.86     0.0000       1          40   41

[610 rows x 16 columns]

In [28]:
#Since the column "atemp" has 11 null values, so we consider dropping this column as it isnt critical as well for our analysis
cleaned_data = combine_data_cleaned.drop('atemp',axis=1)

In [29]:
print(cleaned_data)

     instant     dteday  season  yr  mnth  hr  holiday  weekday  weathersit  \
0          1 2011-01-01       1   0     1   0    False        6           1
1          2 2011-01-01       1   0     1   1    False        6           1
2          3 2011-01-01       1   0     1   2    False        6           1
3          4 2011-01-01       1   0     1   3    False        6           1
4          5 2011-01-01       1   0     1   4    False        6           1
..       ...        ...     ...  ..   ...  ..      ...      ...         ...
605      606 2011-01-28       1   0     1  11    False        5           3
606      607 2011-01-28       1   0     1  12    False        5           3
607      608 2011-01-28       1   0     1  13    False        5           3
608      609 2011-01-28       1   0     1  14    False        5           3
609      610 2011-01-28       1   0     1  15    False        5           2

     temp   hum  windspeed  casual  registered  cnt
0    0.24  0.81     0.0000       3          13   16
1    0.22  0.80     0.0000       8          32   40
2    0.22  0.80     0.0000       5          27   32
3    0.24  0.75     0.0000       3          10   13
4    0.24  0.75     0.0000       0           1    1
..    ...   ...        ...     ...         ...  ...
605  0.18  0.93     0.1045       0          30   30
606  0.18  0.93     0.1045       1          28   29
607  0.18  0.93     0.1045       0          31   31
608  0.22  0.80     0.0000       2          36   38
609  0.20  0.86     0.0000       1          40   41

[610 rows x 15 columns]

In [30]:
print(cleaned_data.isnull().sum())

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
weathersit    0
temp          0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [31]:
#Validations 
#Checking if there is any duplication issue, since value is true so there is no duplication issue
is_unique = cleaned_data['instant'].is_unique
print("is instant unique:", is_unique)

is instant unique: True

In [32]:
#Check for nulls in critical columns, All should be 0 for proper tracking of time and counts.
print(cleaned_data[['instant', 'dteday', 'cnt']].isnull().sum())

instant    0
dteday     0
cnt        0
dtype: int64

In [33]:
cleaned_data['dteday'] = pd.to_datetime(cleaned_data['dteday'], errors='coerce')

In [34]:
#if returns 0 then it means no invalid Dates exist
print(cleaned_data['dteday'].isnull().sum())

0

In [35]:
#valid value ranges to be checked which are given in the comments
print(cleaned_data['season'].unique())        # Should be [1, 2, 3, 4]
print(cleaned_data['yr'].unique())            # Usually 0 or 1 (2011 or 2012)
print(cleaned_data['mnth'].between(1, 12).all())  # All should be True
print(cleaned_data['hr'].between(0, 23).all())    # All should be True
print(cleaned_data['weekday'].between(0, 6).all())  # All should be True
print(cleaned_data['weathersit'].unique())     # Usually [1, 2, 3, 4]

[1]
[0]
True
True
True
[1 2 3 4]

In [36]:
# Registered + casual should equal cnt i.e. True
print((cleaned_data['registered'] + cleaned_data['casual'] == cleaned_data['cnt']).all())

True

In [37]:
#Check for negative values in numeric features, should return all False for this check
print((cleaned_data[['temp', 'hum', 'windspeed', 'casual', 'registered', 'cnt']] < 0).any())

temp          False
hum           False
windspeed     False
casual        False
registered    False
cnt           False
dtype: bool

In [38]:
mean_values = cleaned_data.mean(numeric_only=True)
print("Mean values:\n", mean_values)

Mean values:
 instant       305.500000
season          1.000000
yr              0.000000
mnth            1.000000
hr             11.795082
holiday         0.039344
weekday         2.977049
weathersit      1.477049
temp            0.196885
hum             0.562475
windspeed       0.204851
casual          4.501639
registered     51.068852
cnt            55.570492
dtype: float64

In [39]:
median_values = cleaned_data.median(numeric_only=True)
print("\nMedian values:\n", median_values)

Median values:
 instant       305.500
season          1.000
yr              0.000
mnth            1.000
hr             12.000
holiday         0.000
weekday         3.000
weathersit      1.000
temp            0.200
hum             0.520
windspeed       0.194
casual          2.000
registered     43.000
cnt            47.000
dtype: float64

In [40]:
mode_values = cleaned_data.mode(numeric_only=True)
print("\nMode values:\n", mode_values)

Mode values:
      instant  season   yr  mnth    hr holiday  weekday  weathersit  temp  \
0          1     1.0  0.0   1.0  12.0   False      6.0         1.0   0.2
1          2     NaN  NaN   NaN  13.0     NaN      NaN         NaN   NaN
2          3     NaN  NaN   NaN  14.0     NaN      NaN         NaN   NaN
3          4     NaN  NaN   NaN  15.0     NaN      NaN         NaN   NaN
4          5     NaN  NaN   NaN  16.0     NaN      NaN         NaN   NaN
..       ...     ...  ...   ...   ...     ...      ...         ...   ...
605      606     NaN  NaN   NaN   NaN     NaN      NaN         NaN   NaN
606      607     NaN  NaN   NaN   NaN     NaN      NaN         NaN   NaN
607      608     NaN  NaN   NaN   NaN     NaN      NaN         NaN   NaN
608      609     NaN  NaN   NaN   NaN     NaN      NaN         NaN   NaN
609      610     NaN  NaN   NaN   NaN     NaN      NaN         NaN   NaN

      hum  windspeed  casual  registered  cnt
0    0.47     0.1642     0.0         1.0  1.0
1     NaN        NaN     NaN         NaN  NaN
2     NaN        NaN     NaN         NaN  NaN
3     NaN        NaN     NaN         NaN  NaN
4     NaN        NaN     NaN         NaN  NaN
..    ...        ...     ...         ...  ...
605   NaN        NaN     NaN         NaN  NaN
606   NaN        NaN     NaN         NaN  NaN
607   NaN        NaN     NaN         NaN  NaN
608   NaN        NaN     NaN         NaN  NaN
609   NaN        NaN     NaN         NaN  NaN

[610 rows x 14 columns]

In [41]:
summary = pd.DataFrame({
    'Mean': mean_values,
    'Median': median_values,
    'Mode': mode_values.iloc[0]
})
print("\nCentral Tendency Summary:\n", summary)

Central Tendency Summary:
                   Mean   Median    Mode
instant     305.500000  305.500       1
season        1.000000    1.000     1.0
yr            0.000000    0.000     0.0
mnth          1.000000    1.000     1.0
hr           11.795082   12.000    12.0
holiday       0.039344    0.000   False
weekday       2.977049    3.000     6.0
weathersit    1.477049    1.000     1.0
temp          0.196885    0.200     0.2
hum           0.562475    0.520    0.47
windspeed     0.204851    0.194  0.1642
casual        4.501639    2.000     0.0
registered   51.068852   43.000     1.0
cnt          55.570492   47.000     1.0

In [42]:
combine_data = cleaned_data

In [43]:
combine_data.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,weathersit,temp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,False,6,1,0.24,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,False,6,1,0.22,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,False,6,1,0.22,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,False,6,1,0.24,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,False,6,1,0.24,0.75,0.0,0,1,1

In [45]:
dataset3 = pd.read_excel("dataset_3.xlsx")

In [46]:
print("Dataset 3 preview:")
print(dataset3.head(), "\n")

Dataset 3 preview:
   instant     dteday  season  yr  mnth  hr  holiday  weekday  weathersit  \
0      620 2011-01-29       1   0     1   1    False        6           1
1      621 2011-01-29       1   0     1   2    False        6           1
2      622 2011-01-29       1   0     1   3    False        6           1
3      623 2011-01-29       1   0     1   4    False        6           1
4      624 2011-01-29       1   0     1   6    False        6           1

   temp   atemp   hum  windspeed  casual  registered  cnt
0  0.22  0.2273  0.64     0.1940       0          20   20
1  0.22  0.2273  0.64     0.1642       0          15   15
2  0.20  0.2121  0.64     0.1343       3           5    8
3  0.16  0.1818  0.69     0.1045       1           2    3
4  0.16  0.1818  0.64     0.1343       0           2    2

In [47]:
print("Missing values in Combine Dataset:")
print(combine_data.isnull().sum(), "\n")

Missing values in Combine Dataset:
instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
weathersit    0
temp          0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [48]:
print("Missing values in Dataset3:")
print(dataset3.isnull().sum(), "\n")

Missing values in Dataset3:
instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [49]:
print("CombineDataset columns:", combine_data.columns.tolist())
print("Dataset3 columns:", dataset3.columns.tolist())

CombineDataset columns: ['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday', 'weathersit', 'temp', 'hum', 'windspeed', 'casual', 'registered', 'cnt']
Dataset3 columns: ['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed', 'casual', 'registered', 'cnt']

In [50]:
# Concatenate row-wise, handling missing columns (like 'atemp' in CombineDataset)
combined_all_df = pd.concat([combine_data, dataset3], ignore_index=True, sort=False)

In [51]:
combined_all_df.to_csv('FinalCombinedDataset.csv', index=False)

In [52]:
#Convert 'dteday' to datetime
combined_all_df['dteday'] = pd.to_datetime(combined_all_df['dteday'], errors='coerce')

In [53]:
combined_df = combined_all_df.drop_duplicates()

In [54]:
# Handle missing values
# Fill remaining missing numeric columns with median
for col in combined_df.select_dtypes(include=[np.number]).columns:
    if combined_df[col].isnull().sum() > 0:
        combined_df[col].fillna(combined_df[col].median(), inplace=True)

C:\Users\DIKSHA\AppData\Local\Temp\ipykernel_11068\1890340457.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  combined_df[col].fillna(combined_df[col].median(), inplace=True)

In [55]:
# Detect and cap outliers using IQR method
def cap_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    df[column] = np.where(df[column] < lower, lower,
                  np.where(df[column] > upper, upper, df[column]))
    return df

In [56]:
# Apply outlier capping to relevant numeric columns
numeric_cols = ['temp', 'atemp', 'hum', 'windspeed', 'casual', 'registered', 'cnt']
for col in numeric_cols:
    combined_df = cap_outliers(combined_df, col)

In [57]:
# Save the cleaned dataset
combined_df.to_csv('Cleaned_FinalCombinedDataset.csv', index=False)

# Preview
print("✅ Cleaning complete. Sample data:")
print(combined_df.head())

✅ Cleaning complete. Sample data:
   instant     dteday  season  yr  mnth  hr  holiday  weekday  weathersit  \
0        1 2011-01-01       1   0     1   0    False        6           1
1        2 2011-01-01       1   0     1   1    False        6           1
2        3 2011-01-01       1   0     1   2    False        6           1
3        4 2011-01-01       1   0     1   3    False        6           1
4        5 2011-01-01       1   0     1   4    False        6           1

   temp   hum  windspeed  casual  registered   cnt   atemp
0  0.24  0.81        0.0     3.0        13.0  16.0  0.2273
1  0.22  0.80        0.0     8.0        32.0  40.0  0.2273
2  0.22  0.80        0.0     5.0        27.0  32.0  0.2273
3  0.24  0.75        0.0     3.0        10.0  13.0  0.2273
4  0.24  0.75        0.0     0.0         1.0   1.0  0.2273

In [58]:
skewness = combined_df.skew(numeric_only=True)

In [59]:
print("Skewness of numeric columns:")
print(skewness)

Skewness of numeric columns:
instant       0.000000
season        0.000000
yr            0.000000
mnth          0.812772
hr           -0.063524
holiday       6.229578
weekday       0.021925
weathersit    1.044098
temp          0.236535
hum           0.436893
windspeed     0.416636
casual        1.212739
registered    0.944900
cnt           0.937439
atemp         0.000000
dtype: float64

In [60]:
correlation_matrix = combined_df.corr(numeric_only=True)

In [61]:
print("Correlation matrix:")
print(correlation_matrix)

Correlation matrix:
             instant  season  yr      mnth        hr   holiday   weekday  \
instant     1.000000     NaN NaN  0.802477  0.000060 -0.063013  0.008157
season           NaN     NaN NaN       NaN       NaN       NaN       NaN
yr               NaN     NaN NaN       NaN       NaN       NaN       NaN
mnth        0.802477     NaN NaN  1.000000 -0.025646 -0.105600  0.034710
hr          0.000060     NaN NaN -0.025646  1.000000 -0.005753  0.007531
holiday    -0.063013     NaN NaN -0.105600 -0.005753  1.000000 -0.148682
weekday     0.008157     NaN NaN  0.034710  0.007531 -0.148682  1.000000
weathersit  0.030439     NaN NaN  0.014061 -0.055802  0.165443  0.060007
temp        0.046135     NaN NaN  0.173477  0.212293 -0.060243 -0.083562
hum         0.062116     NaN NaN  0.066587 -0.194853 -0.037542  0.062469
windspeed  -0.058050     NaN NaN -0.029338  0.116718 -0.000969 -0.057247
casual      0.022284     NaN NaN  0.030412  0.286666  0.019666 -0.030732
registered  0.077648     NaN NaN  0.074789  0.388103 -0.054316  0.021644
cnt         0.081803     NaN NaN  0.082898  0.383688 -0.051063  0.011656
atemp            NaN     NaN NaN       NaN       NaN       NaN       NaN

            weathersit      temp       hum  windspeed    casual  registered  \
instant       0.030439  0.046135  0.062116  -0.058050  0.022284    0.077648
season             NaN       NaN       NaN        NaN       NaN         NaN
yr                 NaN       NaN       NaN        NaN       NaN         NaN
mnth          0.014061  0.173477  0.066587  -0.029338  0.030412    0.074789
hr           -0.055802  0.212293 -0.194853   0.116718  0.286666    0.388103
holiday       0.165443 -0.060243 -0.037542  -0.000969  0.019666   -0.054316
weekday       0.060007 -0.083562  0.062469  -0.057247 -0.030732    0.021644
weathersit    1.000000  0.098197  0.539402  -0.177446 -0.110069   -0.124772
temp          0.098197  1.000000  0.067447   0.112657  0.473698    0.198988
hum           0.539402  0.067447  1.000000  -0.385275 -0.297555   -0.247171
windspeed    -0.177446  0.112657 -0.385275   1.000000  0.114497    0.099730
casual       -0.110069  0.473698 -0.297555   0.114497  1.000000    0.431884
registered   -0.124772  0.198988 -0.247171   0.099730  0.431884    1.000000
cnt          -0.129765  0.253200 -0.265826   0.110814  0.527755    0.989682
atemp              NaN       NaN       NaN        NaN       NaN         NaN

                 cnt  atemp
instant     0.081803    NaN
season           NaN    NaN
yr               NaN    NaN
mnth        0.082898    NaN
hr          0.383688    NaN
holiday    -0.051063    NaN
weekday     0.011656    NaN
weathersit -0.129765    NaN
temp        0.253200    NaN
hum        -0.265826    NaN
windspeed   0.110814    NaN
casual      0.527755    NaN
registered  0.989682    NaN
cnt         1.000000    NaN
atemp            NaN    NaN